<link href="/css/bootstrap.css" rel="stylesheet" />
<link href="/css/admin/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="/css/admin/sb-admin.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/userPage.css" />

<div style="display: flex; justify-content: space-between;">
    <h1>Danh sách sản phẩm</h1>
    <button class="btn btn-primary" style="height: 40px; align-self: center;" data-toggle="modal" data-target="#addModal">Thêm sản phẩm</button>
</div>
<table>
    <thead>
        <tr>
            <th style="width: 5%">ID</th>
            <!-- <th style="width: 10%">Ảnh sản phẩm</th> -->
            <th style="width: 20%">Tên sản phẩm</th>
            <th style="width: 10%">Thể loại</th>
            <th style="width: 10%">Giá gốc</th>
            <th style="width: 5%">Sale</th>
            <!-- <th style="width: 100%;">Mô tả</th> -->
            <th style="width: 10%">Action</th>
        </tr>
    </thead>
    <tbody id="tableBody">
    </tbody>
</table>
<ul class="pagination dssp-product__pagination" id="ds_pagination"></ul>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog custom-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm thông tin sản phẩm</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="product-display">
                    <div class="product-info">
                        <div class="product-info-detail">
                            <p class="user-info-label">ID</p>
                            <input class="user-name-textInput" type="text" id="id_Book_add" />
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Tên sản phẩm</p>
                            <input class="user-name-textInput" type="text" id="name_Book_add" />
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Thể loại</p>
                            <!-- <input class="user-name-textInput" type="text" id="sp_in_cate"> -->
                            <select class="user-name-textInput" id="tl_Book_add">
                                <option value="TN">Sách thiếu nhi</option>
                                <option value="VH">Sách văn học</option>
                                <option value="TT">Trinh thám</option>
                                <option value="CK">Sách có chữ ký</option>
                                <option value="CPP">Văn phòng phẩm</option>
                            </select>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Ảnh sản phẩm</p>
                            <div class="product-picture">
                                <img src="" alt="" class="imgsp"  id="img_Book_add"/>
                            </div>
                            <input type="file" id="fileInput_add" style="display: none;" accept="image/*">
                            <a class="changeImg_add" href="">Thay đổi</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-info-detail">
                            <p class="user-info-label">Khuyến mại (%)</p>
                            <input class="user-name-textInput" type="text" id="sale_Book_add"/>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Giá gốc (000đ)</p>
                            <input class="user-name-textInput" type="text" id="price_Book_add"/>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Mô tả</p>
                            <textarea name="mota" cols="60" rows="13" id="moTa_Book_add"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                <a class="btn btn-primary" href="" id="btn_Accept_add">Thêm</a>
            </div>
        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog custom-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sửa thông tin sản phẩm</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="product-display">
                    <div class="product-info">
                        <div class="product-info-detail">
                            <p class="user-info-label">ID</p>
                            <p class="detail-text" id="id_Book_ed">CK01</p>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Tên sản phẩm</p>
                            <input class="user-name-textInput" type="text" id="name_Book_ed"/>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Thể loại</p>
                            <!-- <input class="user-name-textInput" type="text" id="sp_in_cate"> -->
                            <select class="user-name-textInput" id="tl_Book_ed">
                                <option value="TN">Sách thiếu nhi</option>
                                <option value="VH">Sách văn học</option>
                                <option value="TT">Trinh thám</option>
                                <option value="CK">Sách có chữ ký</option>
                                <option value="CPP">Văn phòng phẩm</option>
                            </select>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Ảnh sản phẩm</p>
                            <div class="product-picture">
                                <img src="/img/books.jpg" alt="" class="imgsp"  id="img_Book_ed"/>
                            </div>
                            <input type="file" id="fileInput_ed" style="display: none;" accept="image/*">
                            <a class="changeImg_ed" href="">Thay đổi</a>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-info-detail">
                            <p class="user-info-label">Khuyến mại (%)</p>
                            <input class="user-name-textInput" type="text" id="sale_Book_ed"/>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Giá gốc (000đ)</p>
                            <input class="user-name-textInput" type="text" id="price_Book_ed"/>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Mô tả</p>
                            <textarea name="mota" cols="60" rows="13" id="moTa_Book_ed"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Quay lại</button>
                <a class="btn btn-primary" href="" id="btn_Accept_ed">Sửa</a>
            </div>
        </div>
    </div>
</div>

<!-- Detail Modal -->
<div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog custom-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thông tin sản phẩm</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="product-display">
                    <div class="product-info">
                        <div class="product-info-detail">
                            <p class="user-info-label">ID:</p>
                            <p class="detail-text" id="id_Book_dt">CK01</p>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Tên sản phẩm:</p>
                            <p class="detail-text" id="name_Book_dt">ĂN GÌ CHO KHÔNG ĐỘC HẠI - SÁCH CÓ CHỮ KÝ</p>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Thể loại:</p>
                            <p class="detail-text" id="tl_Book_dt">Sách có chữ ký</p>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Ảnh sản phẩm:</p>
                            <div class="product-picture">
                                <img src="https://product.hstatic.net/1000363117/product/angikhongdochai_2adfaf44ccf74c70895f9b4d6aed4da5_master.jpg"
                                    alt="" id="img_Book_dt" class="imgsp" />
                            </div>
                        </div>
                    </div>
                    <div class="product-info">
                        <div class="product-info-detail">
                            <p class="user-info-label">Khuyến mại (%):</p>
                            <p class="detail-text" id="sale_Book_dt">1</p>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Giá gốc (000đ):</p>
                            <p class="detail-text" id="price_Book_dt">100.000 đ</p>
                        </div>
                        <div class="product-info-detail product-info-custom">
                            <p class="user-info-label">Mô tả:</p>
                            <p class="detail-text detail-text-area" id="moTa_Book_dt">
                                Câu chuyện thú vị và bổ ích về thực dưỡng, ăn chay, hay detox... nhìn từ góc
                                độ khoa học và thực tiễn đời sống, môi trường, được thể hiện bằng giọng văn
                                hài hước và sắc sảo. Tác giả vốn là cây viết chủ lực của trang soi.com, viết
                                về ẩm thực và văn hóa
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Quay lại</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div
    class="modal fade"
    id="deleteModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog custom-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xác nhận xóa</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">Bạn có chắc chắn muốn xóa không?</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Quay lại</button>
                <button class="btn btn-danger" id="btn_Accept_delete">Xóa</button>
            </div>
        </div>
    </div>
</div>

<script src="/js/admin/jquery/jquery.min.js"></script>
<script src="/js/admin/bootstrap.bundle.min.js"></script>
<script src="/js/admin/jquery-easing/jquery.easing.min.js"></script>
<script src="/js/admin/sb-admin.js"></script>
<script src="/product_list.js"></script>
