<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Bookstore</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
        <link rel="stylesheet" href="../assets/css/base.css" />
        <link rel="stylesheet" href="../assets/css/main.css" />
        <link rel="stylesheet" href="../assets/css/userPage.css" />
        <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.4.0-web/css/all.min.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
            rel="stylesheet"
        />
        <script src="../assets/js/infor.js"></script>
    </head>

    <body>
        <div class="app">
            <header class="header">
                <div class="header-top">
                    <div class="grid">
                        <nav class="header__navbar">
                            <ul class="header__navbar-list">
                                <li class="header__navbar-item header__navbar-item--separate">
                                    <a href="home.html" class="header__navbar-link">Hệ Thống Cửa Hàng</a>
                                </li>
                                <li class="header__navbar-item">
                                    <span class="header__navbar-title">Liên Hệ Hỗ Trợ</span>
                                    <a href="" class="header__navvar-icon-link">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                    <a href="" class="header__navvar-icon-link">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>

                            <ul class="header__navbar-list" id="UnLoginUser">
                                <a
                                    href="DangNhap.html"
                                    class="header__navbar-title header__navbar-item header__navbar-item--separate"
                                    >Đăng nhập</a
                                >
                                <a href="DangKy.html" class="header__navbar-title header__navbar-item">Đăng ký</a>
                            </ul>
                            <ul class="header__navbar-list" id="LoginUser">
                                <div class="user-login">
                                    <img src="./assets/img/avatar.png" alt="" class="avatar-login" />
                                    <span class="user-name" id="UserName_LG">user1</span>
                                    <div class="user-login-list">
                                        <ul class="user-login-list-item">
                                            <li><a class="user-login-item" href="Admin.html">Tài Khoản Của Tôi</a></li>
                                            <li><a class="user-login-item" href="purchaseOrder.html">Đơn Mua</a></li>
                                            <li><a class="user-login-item" id="logOut">Đăng Xuất</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Header with search -->
                <div class="header-center">
                    <div class="header__logo">
                        <a href="home.html">
                            <img class="header__logo-img" src="../assets/img/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="header__search">
                        <input
                            type="text"
                            class="header__search-input"
                            id="searchInput"
                            placeholder="Bạn muốn mua gì?"
                        />
                        <ul class="suggestionsSearch" id="suggestionsList"></ul>
                        <button class="header__search-btn">
                            Tìm kiếm
                            <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                        </button>
                    </div>
                    <!-- Cart layout -->
                    <div class="header__cart">
                        <div class="header__cart-wrap">
                            <button class="header__cart-btn">
                                Giỏ hàng của bạn
                                <i class="header__cart-icon fa-solid fa-cart-shopping"></i>
                            </button>
                            <span class="header__cart-notice" id="countgiohang">0</span>
                            <!-- No cart: header__cart-list--no-cart -->
                            <div class="header__cart-list">
                                <h4 class="header__cart-heading">GIỎ HÀNG CỦA TÔI</h4>
                                <ul class="header__cart-list-item" id="cartList"></ul>
                                <div class="header__cart-footer">
                                    <div class="header__cart-total">
                                        <span class="header__cart-total-text">TỔNG TIỀN:</span>
                                        <span class="header__cart-total-price"
                                            ><span id="totalPay">0</span><sup>đ</sup></span
                                        >
                                    </div>
                                    <div class="header__cart-button">
                                        <button class="btn header__cart-view-cart" id="showCart">XEM GIỎ HÀNG</button>
                                        <button class="btn btn--primary header__cart-view-cart" id="payCart">
                                            THANH TOÁN
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="app__container1">
                <nav class="category">
                    <div class="category-wrap">
                        <h3 class="category-dmsp">
                            <i class="category-dmsp__icon fa-solid fa-list"></i>
                            Danh mục sản phẩm
                        </h3>
                        <div class="dmsp-list">
                            <ul class="dmsp-list-item">
                                <li class="dmsp-item__solid dmsp-item">
                                    Sách Tiếng Việt
                                    <i class="dmsp-item__icon fa-solid fa-chevron-right"></i>
                                </li>

                                <li class="dmsp-item__solid dmsp-item">Sách Ngoại Văn</li>

                                <li class="dmsp-item__solid dmsp-item">
                                    Văn Phòng Phẩm
                                    <i class="dmsp-item__icon fa-solid fa-chevron-right"></i>
                                </li>

                                <li class="dmsp-item__solid dmsp-item">Đồ Trang Trí - Lưu Niệm</li>

                                <li class="dmsp-item__solid dmsp-item">
                                    Theo Nhà Cung Cấp
                                    <i class="dmsp-item__icon fa-solid fa-chevron-right"></i>
                                </li>

                                <li class="dmsp-item__solid dmsp-item">Gợi Ý Quà Tặng</li>

                                <li class="dmsp-item">Sách Có Chữ Ký</li>
                            </ul>
                        </div>
                    </div>

                    <ul class="category-list">
                        <li class="category-item">
                            <a href="TLThieuNhi.html" class="category-item__link" id="TN">Sách Thiếu Nhi</a>
                        </li>

                        <li class="category-item">
                            <a href="TLVanHoc.html" class="category-item__link" id="VH">Sách Văn Học</a>
                        </li>

                        <li class="category-item">
                            <a href="TLTrinhTham.html" class="category-item__link" id="TT">Trinh Thám</a>
                        </li>

                        <li class="category-item">
                            <a href="TLChuKy.html" class="category-item__link" id="CK">Sách Có Chữ Ký</a>
                        </li>

                        <li class="category-item">
                            <a href="TLVanPP.html" class="category-item__link" id="VPP">Văn Phòng Phẩm</a>
                        </li>
                    </ul>
                </nav>

                <div class="page-source"><a href="web.html" class="home-page">TRANG CHỦ</a> / TÀI KHOẢN</div>
                <h1 class="page-title">TÀI KHOẢN CỦA BẠN</h1>
            </div>
            <div class="content" id="isUser">
                <div class="user-info">
                    <div class="user-info-detail">
                        <p class="user-info-label">Tên đăng nhập</p>
                        <p class="user-info-output">haha</p>
                    </div>
                    <div class="user-info-detail">
                        <p class="user-info-label">Tên</p>
                        <input class="user-name-textInput" type="text" />
                    </div>
                    <div class="user-info-detail">
                        <p class="user-info-label">Email</p>
                        <p class="user-info-output">ab***********@gmail.com</p>
                        <a href="#">Thay đổi</a>
                    </div>
                    <div class="user-info-detail">
                        <p class="user-info-label">Số điện thoại</p>
                        <p class="user-info-output">********78</p>
                        <a href="#">Thay đổi</a>
                    </div>
                    <div class="user-info-detail">
                        <p class="user-info-label">Giới tính</p>
                        <input class="user-radio-input" type="radio" name="options" />
                        <label class="user-radio-input-label">Nam</label>
                        <input class="user-radio-input" type="radio" name="options" />
                        <label class="user-radio-input-label">Nữ</label>
                        <input class="user-radio-input" type="radio" name="options" />
                        <label class="user-radio-input-label">Khác</label>
                    </div>
                    <div class="user-info-detail">
                        <p class="user-info-label">Ngày sinh</p>
                        <input class="user-date-input" type="date" />
                    </div>
                    <div class="user-info-detail">
                        <p class="user-info-label"></p>
                        <button class="user-button">Lưu</button>
                    </div>
                </div>
                <div class="user-avatar">
                    <div class="user-avatar-img">
                        <img src="../assets/img/avatar.png" alt="" />
                    </div>
                    <button class="user-button">Chọn Ảnh</button>
                    <p>Dụng lượng file tối đa 1 MB <br />Định dạng:.JPEG, .PNG</p>
                </div>
            </div>
            <div class="product-content" id="isAdmin">
                <h2>THÔNG TIN SẢN PHẨM</h2>
                <div class="product-display">
                    <div class="product-info">
                        <div class="product-info-detail">
                            <p class="user-info-label">ID</p>
                            <input class="user-name-textInput" type="text" id="sp_in_id" />
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Tên sản phẩm</p>
                            <input class="user-name-textInput" type="text" id="sp_in_name" />
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Thể loại</p>
                            <!-- <input class="user-name-textInput" type="text" id="sp_in_cate"> -->
                            <select class="user-name-textInput" id="sp_in_cate">
                                <option value="TN">Sách thiếu nhi</option>
                                <option value="VH">Sách văn học</option>
                                <option value="TT">Trinh thám</option>
                                <option value="CK">Sách có chữ ký</option>
                                <option value="CPP">Văn phòng phẩm</option>
                            </select>
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Ảnh sản phẩm</p>
                            <div class="product-picture">
                                <img src="../assets/img/books.jpg" alt="" id="sp_in_img" class="imgsp" />
                            </div>
                            <a id="changeButtonimg">Thay đổi</a>
                        </div>
                    </div>
                    <div class="product-info" style="margin-left: 50px">
                        <div class="product-info-detail">
                            <p class="user-info-label">Khuyến mại (%)</p>
                            <input class="user-name-textInput" type="text" id="sp_in_sale" />
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Giá gốc (000đ)</p>
                            <input class="user-name-textInput" type="text" id="sp_in_cost" />
                        </div>
                        <div class="product-info-detail">
                            <p class="user-info-label">Mô tả</p>
                            <textarea name="mota" cols="60" rows="13" id="sp_in_desp"></textarea>
                        </div>
                    </div>
                </div>
                <div class="product-info-detail">
                    <p class="user-info-label"></p>
                    <button class="user-button margin-button" id="button_addsp">Thêm</button>
                    <button class="user-button margin-button" id="button_fixsp">Sửa</button>
                    <button class="user-button margin-button" id="button_deletesp">Xóa</button>
                    <button class="user-button margin-button" id="button_reset_in">Reset</button>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th style="width: 5%">ID</th>
                            <th style="width: 10%">Ảnh sản phẩm</th>
                            <th style="width: 20%">Tên sản phẩm</th>
                            <th style="width: 10%">Thể loại</th>
                            <th style="width: 10%">Giá gốc</th>
                            <th style="width: 5%">Sale</th>
                            <!-- <th style="width: 100%;">Mô tả</th> -->
                            <th style="width: 10%">
                                <button class="user-button delete-button">Xóa</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="tableBody"></tbody>
                </table>
                <ul class="pagination dssp-product__pagination" id="ds_pagination"></ul>
            </div>
            <footer class="footer">
                <div class="grid">
                    <div class="grid__row">
                        <div class="grid__column-10-2">
                            <h3 class="footer__heading">LIÊN KẾT NHANH</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="TLThieuNhi.html" class="footer-item__link">Sách Thiếu Nhi</a>
                                </li>
                                <li class="footer-item">
                                    <a href="TLVanHoc.html" class="footer-item__link">Sách Văn Học</a>
                                </li>
                                <li class="footer-item">
                                    <a href="TLTrinhTham.html" class="footer-item__link">Trinh Thám</a>
                                </li>
                                <li class="footer-item">
                                    <a href="TLChuKy.html" class="footer-item__link">Sách Có Chữ Ký</a>
                                </li>
                                <li class="footer-item">
                                    <a href="TLVanPP.html" class="footer-item__link">Văn Phòng Phẩm</a>
                                </li>
                                <li class="footer-item">
                                    <a href="home.html" class="footer-item__link">Gợi Ý Cho Bạn</a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__column-10-2">
                            <h3 class="footer__heading">CÁC BỘ SƯU TẬP</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Bút - Viết</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Dụng Cụ Học Sinh</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Sản Phẩm Về Giấy</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Dụng Cụ Văn Phòng</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Dụng Cụ Vẽ</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Sản Phẩm Điện Tử</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Văn Phòng Phẩm Khác</a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__column-10-2">
                            <h3 class="footer__heading">HỖ TRỢ KHÁCH HÀNG</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Chính sách bảo mật</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Phương thức thanh toán</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Phương thức vận chuyển</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Chính sách bảo hành</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Chính sách đổi trả</a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__column-10-2">
                            <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Liên hệ hỗ trợ</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Hệ thống cửa hàng</a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">Tin tuyển dụng</a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid__column-10-2">
                            <h3 class="footer__heading">THEO DÕI CHÚNG TÔI TRÊN</h3>
                            <ul class="footer-list">
                                <li class="footer-item">
                                    <a href="#" class="footer-item__link">
                                        <i class="footer-item__icon fa-brands fa-facebook"></i>
                                        Facebook
                                    </a>
                                </li>
                                <li class="footer-item">
                                    <a href="" class="footer-item__link">
                                        <i class="footer-item__icon fa-brands fa-instagram"></i>
                                        Instagram
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <div id="popupimg" class="popupimg">
            <div class="popupimg-content">
                <span class="closeqr" id="close-popupimg-btn">&times;</span>
                <h2>Chọn ảnh</h2>
                <input type="text" id="imageUrl" placeholder="Nhập URL ảnh" class="linkimgselect" /><br /><br />
                <input type="file" id="imageFile" class="linkimgselect" /><br /><br />
                <button id="submitimg" class="submitimg">OK</button>
            </div>
        </div>
        <div class="body-overlay" id="body-overlay"></div>
        <script src="../sqlserver/admin.js"></script>
        <script src="../assets/js/script.js"></script>
        <script src="../sqlserver/checklogin.js"></script>
        <script src="../sqlserver/cart.js"></script>
        <script src="../sqlserver/controler_search.js"></script>
    </body>
</html>
