<link rel="stylesheet" href="/css/userPage.css">
<script src="/protects/protected.js"></script>

<div class="content" id="isUser">
    <div class="user-info">
        <div class="user-info-detail">
            <p class="user-info-label">Tên đăng nhập</p>
            <p class="user-info-output">haha</p>
        </div>
        <div class="user-info-detail">
            <p class="user-info-label">Tên</p>
            <input class="user-name-textInput" type="text">
        </div>
        <div class="user-info-detail">
            <p class="user-info-label">Email</p>
            <p class="user-info-output">ab***********@gmail.com</p>
            <a href="#">Thay đổi</a>
        </div>
        <div class="user-info-detail">
            <p class="user-info-label">Số điện thoại</p>
            <p class="user-info-output">********78</p>
            <a href="#">Thay đổi</a>
        </div>
        <div class="user-info-detail">
            <p class="user-info-label">Giới tính</p>
            <input class="user-radio-input" type="radio" name="options">
            <label class="user-radio-input-label">Nam</label>
            <input class="user-radio-input" type="radio" name="options">
            <label class="user-radio-input-label">Nữ</label>
            <input class="user-radio-input" type="radio" name="options">
            <label class="user-radio-input-label">Khác</label>
        </div>
        <div class="user-info-detail">
            <p class="user-info-label">Ngày sinh</p>
            <input class="user-date-input" type="date">
        </div>
        <div class="user-info-detail">
            <p class="user-info-label"></p>
            <button class="user-button">Lưu</button>
        </div>
    </div>
    <div class="user-avatar">
        <div class="user-avatar-img">
            <img src="/img/avatar.png" alt="">
        </div>
        <button class="user-button">Chọn Ảnh</button>
        <p>Dụng lượng file tối đa 1 MB
            <br>Định dạng:.JPEG, .PNG
        </p>
    </div>
</div>

<script src="/admin.js"></script>
