<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<link rel="stylesheet" href="/css/base.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/product-details.css" />
<link rel="stylesheet" href="/fonts/fontawesome-free-6.4.0-web/css/all.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
<script src="/js/main.js" defer></script>
<script src="/protects/protected.js"></script>

<!-- <div class="small-container single-product" id="ctsp"></div> -->
<section class="product">
    <div class="grid">
        <div class="product__info">
            <figure class="product__thumb">
                <img src="/img/VH2.jpg" alt="" class="product__img" />
                <span class="product__sale">-10%</span>
            </figure>
            <section class="product__content">
                <h1 class="product__title">Bình Nguyên Lộc - Đò Dọc</h1>
                <p class="product__id">Mã SP: 8934974200802</p>
                <div class="product__price">
                    <span class="product__price--current" id="price_current">103,500đ</span>
                    <span class="product__price--old" id="price_old">115,000đ</span>
                    <span class="product__price-text">(Bạn đã tiết kiệm được 11,500₫)</span>
                </div>
                <div class="product-box">
                    <p class="product-box__title">Khuyến mãi & Ưu đãi tại <strong>BookStore</strong></p>
                    <ul>
                        <li>
                            <strong>Freeship</strong> Hà Nội cho đơn hàng <strong>từ 1.000.000 đồng</strong>
                        </li>
                        <li>
                            <strong>Freeship</strong> tại các tỉnh thành ngoài Hà Nội cho đơn hàng
                            <strong>từ 1.500.000 đồng</strong>
                        </li>
                    </ul>
                </div>
                <p class="product__text">Số lượng</p>
                <div class="product-add">
                    <div class="quantity-btn">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                            class="quantity-btn__minus">
                            -
                        </button>
                        <input type="number" value="1" min="1" class="quantity-btn__input" />
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                            class="quantity-btn__plus">
                            +
                        </button>
                    </div>
                    <button class="product-add__btn">Thêm vào giỏ hàng</button>
                </div>
                <p class="product__call">
                    Gọi đặt mua <b>(024) 3994 7159</b> (Thứ 2 - Thứ 6 | 08:00 - 17:00)
                </p>
            </section>
        </div>
    </div>
</section>

<section class="product-desc">
    <div class="grid">
        <div class="product-desc__wrap">
            <h1 class="product-desc__title">Mô tả</h1>
            <div class="product-desc__container">
                <p class="product-desc__sub-title">Bình Nguyên Lộc - Đò Dọc</p>
                <p class="product-desc__content">
                    Tình yêu là thứ gì vừa dữ dội, vừa mong manh. Bao đời nay người ta đã đúc kết như vậy.
                    Cái khác thường trong tình yêu ở tiểu thuyết Đò Dọc là nhà văn Bình Nguyên Lộc đã đặt
                    các nhân vật của mình trong hoàn cảnh hết sức trớ trêu: Cả mấy chị em gái của gia đình
                    nọ đều đem lòng yêu một người. Chỉ vì họ không còn có ai để yêu, khi phải sống ở một
                    chốn quê quạnh quẽ mà họ là dân thành thị mới chuyển về. Bao nhiêu chuyện từ vui vẻ, đến
                    khôi hài, rồi buồn giận cứ diễn ra, một cách tự nhiên, để rồi cuối cùng nỗi éo le lên
                    đến đỉnh điểm khi lý trí không thể cầm cương mà thắng được. Bi kịch xảy đến khi các chị
                    em gái vốn là con nhà gia giáo và rất mực thương yêu nhau lại phải đối đầu nhau. Bình
                    Nguyên Lộc đã lột tả hết cái không khí miền quê phảng lì buồn tẻ là nỗi ám ảnh của các
                    cô gái, và nỗi chông chênh trong tâm hồn của chính họ. Nhưng ta vẫn thấy lấp lánh những
                    điều đẹp đẽ trong các trang văn của nhà văn bậc thầy, cho dẫu nỗi buồn hay tuyệt vọng có
                    dâng cao đến đâu. Lòng vị tha, mối trân trọng tình cảm gia đình vẫn là chiếc chìa khóa
                    để mở tất cả các cánh cửa...
                </p>
            </div>
        </div>
    </div>
</section>

<script src="/ctsanpham.js"></script>
<script src="/checklogin.js"></script>