<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.4.0-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="../assets/js/infor.js"></script>
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="header-top">
                <div class="grid">
                    <nav class="header__navbar">
                        <ul class="header__navbar-list">
                            <li class="header__navbar-item header__navbar-item--separate">
                                <a href="home.html" class="header__navbar-link">Hệ Thống Cửa Hàng</a>
                            </li>
                            <li class="header__navbar-item">
                                <span class="header__navbar-title">Liên Hệ Hỗ Trợ</span>
                                <a href="" class="header__navvar-icon-link">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="" class="header__navvar-icon-link">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
        
                        <ul class="header__navbar-list">
                            <a href="DangNhap.html" class="header__navbar-title header__navbar-item header__navbar-item--separate">Đăng nhập</a>
                            <a href="DangKy.html" class="header__navbar-title header__navbar-item">Đăng ký</a>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Header with search -->
            <div class="header-center">
                <div class="header__logo">
                    <a href="home.html">
                        <img class="header__logo-img" src="../assets/img/logo.png" alt="">
                    </a>
                </div>
                <div class="header__search">
                    <input type="text" class="header__search-input" id="searchInput" placeholder="Bạn muốn mua gì?">
                    <ul class="suggestionsSearch" id="suggestionsList"></ul>
                    <button class="header__search-btn">
                        Tìm kiếm
                        <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

                <!-- Cart layout -->
                <div class="header__cart">
                    <div class="header__cart-wrap">
                        <button class="header__cart-btn">
                            Giỏ hàng của bạn
                            <i class="header__cart-icon fa-solid fa-cart-shopping"></i>  
                        </button>
                        <span class="header__cart-notice" id="countgiohang">0</span>

                </div>
            </div>
        </header>

        <div class="app__container1">
            <nav class="category">
                <div class="category-wrap">
                    <h3 class="category-dmsp">
                            <i class="category-dmsp__icon fa-solid fa-list"></i>
                            Danh mục sản phẩm
                    </h3>
                    <div class="dmsp-list">
                        <ul class="dmsp-list-item">
                            <li class="dmsp-item__solid dmsp-item">
                                Sách Tiếng Việt
                                <i class="dmsp-item__icon fa-solid fa-chevron-right"></i>
                            </li>
    
                            <li class="dmsp-item__solid dmsp-item">
                                Sách Ngoại Văn
                            </li>
    
                            <li class="dmsp-item__solid dmsp-item">
                                Văn Phòng Phẩm
                                <i class="dmsp-item__icon fa-solid fa-chevron-right"></i>
                            </li>
    
                            <li class="dmsp-item__solid dmsp-item">
                                Đồ Trang Trí - Lưu Niệm
                            </li>
    
                            <li class="dmsp-item__solid dmsp-item">
                                Theo Nhà Cung Cấp
                                <i class="dmsp-item__icon fa-solid fa-chevron-right"></i>
                            </li>
    
                            <li class="dmsp-item__solid dmsp-item">
                                Gợi Ý Quà Tặng
                            </li>
    
                            <li class="dmsp-item">
                                Sách Có Chữ Ký
                            </li>
                        </ul>

                    </div>
                </div>
            

                <ul class="category-list">
                    <li class="category-item">
                        <a href="TLThieuNhi.html" class="category-item__link" id="TN">Sách Thiếu Nhi</a>
                    </li>

                    <li class="category-item">
                        <a href="TLVanHoc.html" class="category-item__link" id="VH">Sách Văn Học</a>
                    </li>

                    <li class="category-item">
                        <a href="TLTrinhTham.html" class="category-item__link" id="TT">Trinh Thám</a>
                    </li>

                    <li class="category-item">
                        <a href="TLChuKy.html" class="category-item__link" id="CK">Sách Có Chữ Ký</a>
                    </li>

                    <li class="category-item">
                        <a href="TLVanPP.html" class="category-item__link" id="VPP">Văn Phòng Phẩm</a>
                    </li>

                    
                </ul>
            </nav>

            <div class="page-source">
                <a href="web.html" class="home-page">TRANG CHỦ</a> / TÀI KHOẢN
            </div>
        </div>
        <div class="content1">
            <div class="input-wrap">
                <h1 class="page-titleDK">ĐĂNG NHẬP</h1>
                <input type="text" class="customer-info__input1" id="username" placeholder="Email">
                <input type="password" class="customer-info__input1" id="password" placeholder="Mật khẩu">
                <a class="butn" id="login">Đăng nhập</a>
                <a class="butn btn_return" id="checklogin">Trở về</a>
                <a class="butn btn_return">Quên mật khẩu?</a>
            </div>
        </div>

        <footer class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-10-2">
                        <h3 class="footer__heading">LIÊN KẾT NHANH</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="TLThieuNhi.html" class="footer-item__link">Sách Thiếu Nhi</a>
                            </li>
                            <li class="footer-item">
                                <a href="TLVanHoc.html" class="footer-item__link">Sách Văn Học</a>
                            </li>
                            <li class="footer-item">
                                <a href="TLTrinhTham.html" class="footer-item__link">Trinh Thám</a>
                            </li>
                            <li class="footer-item">
                                <a href="TLChuKy.html" class="footer-item__link">Sách Có Chữ Ký</a>
                            </li>
                            <li class="footer-item">
                                <a href="TLVanPP.html" class="footer-item__link">Văn Phòng Phẩm</a>
                            </li>
                            <li class="footer-item">  
                                <a href="home.html" class="footer-item__link">Gợi Ý Cho Bạn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-10-2">
                        <h3 class="footer__heading">CÁC BỘ SƯU TẬP</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Bút - Viết</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Dụng Cụ Học Sinh</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Sản Phẩm Về Giấy</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Dụng Cụ Văn Phòng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Dụng Cụ Vẽ</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Sản Phẩm Điện Tử</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Văn Phòng Phẩm Khác</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-10-2">
                        <h3 class="footer__heading">HỖ TRỢ KHÁCH HÀNG</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính sách bảo mật</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Phương thức thanh toán</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Phương thức vận chuyển</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính sách bảo hành</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính sách đổi trả</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-10-2">
                        <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Liên hệ hỗ trợ</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hệ thống cửa hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tin tuyển dụng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-10-2">
                        <h3 class="footer__heading">THEO DÕI CHÚNG TÔI TRÊN</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="#" class="footer-item__link">
                                    <i class="footer-item__icon fa-brands fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fa-brands fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../sqlserver/login.js"></script>
    <script src="../sqlserver/checklogin.js"></script>
    <script src="../sqlserver/controler_search.js"></script>
</body>
</html>