<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
<link rel="stylesheet" href="/css/base.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/fonts/fontawesome-free-6.4.0-web/css/all.min.css">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
<script src="/js/infor.js"></script>

<div class="content1">
    <div class="input-wrap">
        <h1 class="page-titleDK">TẠO TÀI KHOẢN</h1>
        <input type="text" class="customer-info__input1" id="dk_tk" placeholder="Tài khoản">
        <input type="password" class="customer-info__input1" id="dk_mk" placeholder="Mật khẩu">
        <a class="butn" id="Btn_DK">Đăng ký</a>
        <a href="/" class="butn btn_return">Trở về</a>
    </div>
</div>

<script src="/controler_search.js"></script>
<script src="/dangky.js"></script>