<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<link rel="stylesheet" href="/css/base.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/purchaseOrder.css" />
<link rel="stylesheet" href="/fonts/fontawesome-free-6.4.0-web/css/all.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
<script src="/js/main.js" defer></script>

<div class="app__container">
    <div class="order">
        <div class="grid">
            <div class="order__wrap">
                <div class="tabs">
                    <!-- <div class="tabs__item tabs__item--active">Tất cả</div> -->
                    <div class="tabs__item tabs__item--active">Chờ xác nhận <span id="count_1"></span></div>
                    <div class="tabs__item">Đang vận chuyển <span id="count_2"></span></div>
                    <div class="tabs__item">Hoàn thành<span id="count_3"></span></div>
                    <div class="tabs__item">Đã hủy <span id="count_0"></span></div>
                    <!-- <div class="tabs__item">Trả hàng/Hoàn tiền <span id="count"></span></div> -->
                </div>
                <div class="order-list">
                    <div class="order-list__tab order-list__tab--active" id="list_1">
                        <!-- Order 1 -->
                        <article class="order-item">
                            <div class="order-item__info">
                                <div class="order-item__left">
                                    <figure class="order-item__thumb">
                                        <img src="/img/CK9.jpg" alt="" class="order-item__img" />
                                    </figure>
                                    <div class="order-item__title">
                                        <p class="order-item__text">
                                            Có Người Sực Tỉnh Cơn Mơ - Sách Có Chữ Ký
                                        </p>
                                        <p class="order-item__text">Số lượng: 1</p>
                                    </div>
                                </div>
                                <div class="order-item__price">
                                    <span class="order-item__price--old">100.000đ</span>
                                    <span class="order-item__price--current">79.000đ</span>
                                </div>
                            </div>
                            <div class="order-item__total">
                                <div class="order-item__total-price">
                                    <span>Thành tiền:</span>
                                    <span>79.000đ</span>
                                </div>
                                <button class="order-item__btn">Hủy Đơn Hàng</button>
                            </div>
                        </article>
                        <!-- Order 2 -->
                        <article class="order-item">
                            <!-- Item 1 -->
                            <div class="order-item__info">
                                <div class="order-item__left">
                                    <figure class="order-item__thumb">
                                        <img src="/img/VH2.jpg" alt="" class="order-item__img" />
                                    </figure>
                                    <div class="order-item__title">
                                        <p class="order-item__text">
                                            Có Người Sực Tỉnh Cơn Mơ - Sách Có Chữ Ký
                                        </p>
                                        <p class="order-item__text">Số lượng: 1</p>
                                    </div>
                                </div>
                                <div class="order-item__price">
                                    <span class="order-item__price--old">100.000đ</span>
                                    <span class="order-item__price--current">79.000đ</span>
                                </div>
                            </div>
                            <!-- Item 2 -->
                            <div class="order-item__info">
                                <div class="order-item__left">
                                    <figure class="order-item__thumb">
                                        <img src="/img/CK16.jpg" alt="" class="order-item__img" />
                                    </figure>
                                    <div class="order-item__title">
                                        <p class="order-item__text">
                                            Có Người Sực Tỉnh Cơn Mơ - Sách Có Chữ Ký
                                        </p>
                                        <p class="order-item__text">Số lượng: 2</p>
                                    </div>
                                </div>
                                <div class="order-item__price">
                                    <span class="order-item__price--old">100.000đ</span>
                                    <span class="order-item__price--current">79.000đ</span>
                                </div>
                            </div>
                            <div class="order-item__total">
                                <div class="order-item__total-price">
                                    <span>Thành tiền:</span>
                                    <span>79.000đ</span>
                                </div>
                                <button class="order-item__btn">Hủy Đơn Hàng</button>
                            </div>
                        </article>
                    </div>
                    <div class="order-list__tab" id="list_2">
                        <!-- Order 1 -->
                        <article class="order-item">
                            <div class="order-item__info">
                                <div class="order-item__left">
                                    <figure class="order-item__thumb">
                                        <img src="/img/VH4.jpg" alt="" class="order-item__img" />
                                    </figure>
                                    <div class="order-item__title">
                                        <p class="order-item__text">
                                            Có Người Sực Tỉnh Cơn Mơ - Sách Có Chữ Ký
                                        </p>
                                        <p class="order-item__text">Số lượng: 1</p>
                                    </div>
                                </div>
                                <div class="order-item__price">
                                    <span class="order-item__price--old">100.000đ</span>
                                    <span class="order-item__price--current">79.000đ</span>
                                </div>
                            </div>
                            <div class="order-item__total">
                                <div class="order-item__total-price">
                                    <span>Thành tiền:</span>
                                    <span>79.000đ</span>
                                </div>
                                <button class="order-item__btn">Hủy Đơn Hàng</button>
                            </div>
                        </article>
                    </div>
                    <div class="order-list__tab" id="list_3">
                    </div>
                    <div class="order-list__tab" id="list_0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/donMua.js"></script>
<script src="/donMua.js"></script>