<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
<link rel="stylesheet" href="/css/base.css" />
<link rel="stylesheet" href="/css/main.css" />
<link rel="stylesheet" href="/css/purchaseOrder.css" />
<link rel="stylesheet" href="/fonts/fontawesome-free-6.4.0-web/css/all.min.css" />
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet" />
<script src="/js/main.js" defer></script>

<div class="app__container1">
    <div class="grid">
        <div class="content2 content1">
            <div class="cart-info">
                <table class="cart-table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sản Phẩm</th>
                            <th>Đơn Giá</th>
                            <th>Số Lượng</th>
                            <th>Số Tiền</th>
                            <th>Thao Tác</th>
                        </tr>
                    </thead>
                    <tbody id="DSOrder"></tbody>
                </table>
            </div>
        </div>
        <div class="cart-summary">
            <div class="cart-summary__total">Tổng tiền : <span id="orderTotal">0</span>.000<sup>đ</sup></div>
            <button class="cart-summary__checkout-btn" id="ShowPayment">Thanh toán</button>
        </div>
    </div>
</div>

<script src="/purchaseOrder.js"></script>
