<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookstore</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.4.0-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>

<body>
    <div class="app">
        <header class="header">
            <div class="header-top">
                <div class="grid">
                    <nav class="header__navbar">
                        <ul class="header__navbar-list">
                            <li class="header__navbar-item header__navbar-item--separate">
                                <a href="home.html" class="header__navbar-link">Hệ Thống Cửa Hàng</a>
                            </li>
                            <li class="header__navbar-item">
                                <span class="header__navbar-title">Liên Hệ Hỗ Trợ</span>
                                <a href="" class="header__navvar-icon-link">
                                    <i class="fa-brands fa-facebook"></i>
                                </a>
                                <a href="" class="header__navvar-icon-link">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
        
                        <ul class="header__navbar-list" id="UnLoginUser">
                            <a href="DangNhap.html"
                                class="header__navbar-title header__navbar-item header__navbar-item--separate">Đăng nhập</a>
                            <a href="DangKy.html" class="header__navbar-title header__navbar-item">Đăng ký</a>
                        </ul>
                        <ul class="header__navbar-list" id="LoginUser">
                            <div class="user-login">
                                <img src="./assets/img/avatar.png" alt="" class="avatar-login">
                                <span class="user-name" id="UserName_LG">user1</span>
                                <div class="user-login-list">
                                    <ul class="user-login-list-item">
                                        <li><a class="user-login-item" href="Admin.html">Tài Khoản Của Tôi</a></li>
                                        <li><a class="user-login-item" href="purchaseOrder.html">Đơn Mua</a></li>
                                        <li><a class="user-login-item" href="" id="logOut">Đăng Xuất</a></li>
                                    </ul>
                                </div>

                            </div>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Header with search -->
            <div class="header-center">
                <div class="header__logo">
                    <a href="home.html">
                        <img class="header__logo-img" src="../assets/img/logo.png" alt="">

                    </a>
                </div>
                <div class="header__search">
                    <input type="text" class="header__search-input" id="searchInput" placeholder="Bạn muốn mua gì?">
                    <ul class="suggestionsSearch" id="suggestionsList"></ul>
                    <button class="header__search-btn">
                        Tìm kiếm
                        <i class="header__search-btn-icon fa-solid fa-magnifying-glass"></i>
                    </button>
                </div>

                <!-- Cart layout -->
                <div class="header__cart">
                    <div class="header__cart-wrap">
                        <button class="header__cart-btn">
                            Giỏ hàng của bạn
                            <i class="header__cart-icon fa-solid fa-cart-shopping"></i>  
                        </button>
                        <span class="header__cart-notice" id="countgiohang">0</span>
                        <!-- No cart: header__cart-list--no-cart -->
                        <div class="header__cart-list">
                            <h4 class="header__cart-heading">GIỎ HÀNG CỦA TÔI</h4>
                            <ul class="header__cart-list-item" id="cartList">
                                
                            </ul>
                            <div class="header__cart-footer">
                                <div class="header__cart-total">
                                    <span class="header__cart-total-text">TỔNG TIỀN:</span>
                                    <span class="header__cart-total-price"><span id="totalPay">0</span><sup>đ</sup></span>
                                </div>
                                <div class="header__cart-button">
                                    <button class="btn header__cart-view-cart" id="showCart">XEM GIỎ HÀNG</button>
                                    <button class="btn btn--primary header__cart-view-cart" id="payCart">THANH TOÁN</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="app__container">
            <nav class="category">
                <div class="category-wrap">
                    <h3 class="category-dmsp">
                            <i class="category-dmsp__icon fa-solid fa-list"></i>
                            Danh mục sản phẩm
                    </h3>
                </div>
            

                <ul class="category-list">
                    <li class="category-item">
                        <a href="TLThieuNhi.html" class="category-item__link" id="TN">Sách Thiếu Nhi</a>
                    </li>

                    <li class="category-item">
                        <a href="TLVanHoc.html" class="category-item__link" id="VH">Sách Văn Học</a>
                    </li>

                    <li class="category-item">
                        <a href="TLTrinhTham.html" class="category-item__link" id="TT">Trinh Thám</a>
                    </li>

                    <li class="category-item">
                        <a href="TLChuKy.html" class="category-item__link" id="CK">Sách Có Chữ Ký</a>
                    </li>

                    <li class="category-item">
                        <a href="TLVanPP.html" class="category-item__link" id="VPP">Văn Phòng Phẩm</a>
                    </li>

                    
                </ul>
            </nav>
            <!-- BANNER -->
            
            <div class="banner">
                <div class="banner__img2">
                    <a href="#">
                        <img src="https://theme.hstatic.net/1000363117/1000911694/14/ms_banner_img4.jpg?v=287" alt="img">
                    </a>
                </div>
            </div>

            <div class="page-source">
                <a href="home.html" class="home-page">TRANG CHỦ</a> / SÁCH MỚI PHÁT HÀNH
            </div>

            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-2">
                            <div class="home-filter1">
                                <h3 class="home-filter__label">Sắp xếp theo</h3>
                                <button class="home-filter__btn btn">Phổ Biến</button>
                                <button class="home-filter__btn btn btn--primary">Mới Nhất</button>
                                <a href="spbanchaypage1.html">
                                    <button class="home-filter__btn btn">Bán Chạy</button>
                                </a>
                            </div>
                    </div>

                    <div class="grid__column-10">

                        <div class="home-filter2">
                            <div class="select-input">
                                <span class="select-input__label">Giá</span>
                                <i class="select-input__icon fas fa-angle-down"></i>
                                <!-- List Options -->
                                <ul class="select-input__list">
                                    <li class="select-input__item">
                                        <a href="" class="select-input__link" id="ASC">Giá: Thấp đến cao</a>
                                    </li>

                                    <li class="select-input__item">
                                        <a href="" class="select-input__link" id="DeSC">Giá: Cao đến thấp</a>
                                    </li>
                                </ul>
                            </div>

                        </div>


                        <div class="home-product">
                            <div class="grid__row" id="dssp">

                            </div>
                        </div>
                        <ul class="pagination home-product__pagination" id="pagination">
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="grid">
                <div class="grid__row">
                    <div class="grid__column-10-2">
                        <h3 class="footer__heading">LIÊN KẾT NHANH</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="TLThieuNhi.html" class="footer-item__link">Sách Thiếu Nhi</a>
                            </li>
                            <li class="footer-item">
                                <a href="TLVanHoc.html" class="footer-item__link">Sách Văn Học</a>
                            </li>
                            <li class="footer-item">
                                <a href="TLTrinhTham.html" class="footer-item__link">Trinh Thám</a>
                            </li>
                            <li class="footer-item">
                                <a href="TLChuKy.html" class="footer-item__link">Sách Có Chữ Ký</a>
                            </li>
                            <li class="footer-item">
                                <a href="TLVanPP.html" class="footer-item__link">Văn Phòng Phẩm</a>
                            </li>
                            <li class="footer-item">  
                                <a href="home.html" class="footer-item__link">Gợi Ý Cho Bạn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-10-2">
                        <h3 class="footer__heading">CÁC BỘ SƯU TẬP</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Bút - Viết</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Dụng Cụ Học Sinh</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Sản Phẩm Về Giấy</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Dụng Cụ Văn Phòng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Dụng Cụ Vẽ</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Sản Phẩm Điện Tử</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Văn Phòng Phẩm Khác</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-10-2">
                        <h3 class="footer__heading">HỖ TRỢ KHÁCH HÀNG</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính sách bảo mật</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hướng dẫn mua hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Phương thức thanh toán</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Phương thức vận chuyển</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính sách bảo hành</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Chính sách đổi trả</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-10-2">
                        <h3 class="footer__heading">CHĂM SÓC KHÁCH HÀNG</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Liên hệ hỗ trợ</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Hệ thống cửa hàng</a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">Tin tuyển dụng</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid__column-10-2">
                        <h3 class="footer__heading">THEO DÕI CHÚNG TÔI TRÊN</h3>
                        <ul class="footer-list">
                            <li class="footer-item">
                                <a href="#" class="footer-item__link">
                                    <i class="footer-item__icon fa-brands fa-facebook"></i>
                                    Facebook
                                </a>
                            </li>
                            <li class="footer-item">
                                <a href="" class="footer-item__link">
                                    <i class="footer-item__icon fa-brands fa-instagram"></i>
                                    Instagram
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="../assets/js/script.js"></script>
    <script src="../sqlserver/controler_search.js"></script>
    <script src="../sqlserver/search.js"></script>
    <script src="../sqlserver/checklogin.js"></script>
    <script src="../sqlserver/cart.js"></script>
    <script src="../sqlserver/ctsanpham.js"></script>
</body>
</html>