<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanh toán</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../assets/css/base.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/fonts/fontawesome-free-6.4.0-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <script src="../assets/js/main.js" defer></script>
</head>
<body>
    <header class="header">
        <div class="header-top">
            <div class="grid">
                <nav class="header__navbar">
                    <ul class="header__navbar-list">
                        <li class="header__navbar-item header__navbar-item--separate">
                            <a href="" class="header__navbar-link">Hệ Thống Cửa Hàng</a>
                        </li>
                        <li class="header__navbar-item">
                            <a href="LienHe.html" class="header__navbar-title">Liên Hệ Hỗ Trợ</a>
                            <a href="" class="header__navvar-icon-link">
                                <i class="fa-brands fa-facebook"></i>
                            </a>
                            <a href="" class="header__navvar-icon-link">
                                <i class="fa-brands fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
    
                    <ul class="header__navbar-list">
                        <a href="DangNhap.html" class="header__navbar-title header__navbar-item header__navbar-item--separate">Đăng nhập</a>
                        <a href="DangKy.html" class="header__navbar-title header__navbar-item">Đăng ký</a>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Header with search -->
        <div class="header-centerpay">
            <div class="header__logo">
                <a href="home.html">
                    <img class="header__logo-img" src="../assets/img/logo.png" alt="">
                </a>
            </div>
            <div class="header__divider"></div>
            <div class="header__name">
                Thanh toán
            </div>
        </div>
    </header>
</body>
</html>