* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
    --white-color: #fff;
    --gray-color: #a09a99;
    --black-color: #000;
    --text-color: #333;
    --theme-color: #6096B4;

    --header-height: 136px;
    --navbar-height: 28px;
    --header-center-height: calc(var(--header-height) - var(--navbar-height));

}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.small-container {
    max-width: 1000px;
    margin: auto;
    padding-left: 25px;
    padding-right: 20px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.single-product {
    margin-top: 80px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px 0;
}

.single-product .col-2 img {
    padding: 0;
}

.single-product .col-2 {
    padding: 20px;

}